.top-logo-border{
    margin-top: 60px;
}

.clothes-border{
    margin-top: 100px;
}

.container {
    display: grid;
    grid-template-columns: repeat(5, 148px);
    gap: 0px;
    padding: 0px;
    background-color: white;
    margin: auto;
    max-width: 720px;
}

.container img:hover{
    border: solid 1px rgb(159, 159, 159);
}