.top-logo-border{
    margin-top: 60px;
}

.clothes-border{
    margin-top: 100px;
}

.container {
    display: grid;
    grid-template-columns: repeat(5, 148px);
    gap: 0px;
    padding: 0px;
    background-color: white;
    margin: auto;
    max-width: 720px;
}

.container img:hover{
    border: solid 1px rgb(159, 159, 159);
}

.sidebar {
    position: fixed;
    top: 250px;
    left: 270px;
    font-family: "Courier New", monospace;
    text-transform: lowercase;
    font-size: 11px;
    line-height: 8px;
    text-align: right;
    }

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 12px;
}

.sidebar li {
    margin-bottom: 0px;
    cursor: pointer;
}

.sidebar li:hover{
    background-color: red;
    color: white;
}